.growth .title{
    color: black; 
}

.growth .desc{
    padding: 10px 0;
}

.growth .chart-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

@media (min-width: 768px){
    .growth .chart-container{
        flex-direction: row;
    }
}