.tf-table{
    padding: 30px 0;
}

.tf-table .table-wrap{
    overflow: scroll;
    padding: 10px 0;
}

.tf-table table{
    white-space: nowrap;
    border-collapse: collapse;
}

.tf-table th{
    padding: 5px;
    border-right: 1px gray solid;
    border-left: 1px gray solid;
    border-bottom: 1px gray solid;
}

.tf-table td{
    padding: 5px;
    border-right: 1px gray solid;
    border-left: 1px gray solid;
}

.tf-table .title{
    font-size: 22px;
}

.tf-table .desc{
    color: gray;
}